<div class="rounded-md shadow-md bg-gray-200">
  <SortableGroup
    @model={{this.sortedItems}}
    @onChange={{action this.reorderMeals}}
    as |group|>
    {{#each group.model as |meal|}}
      <group.item
        @model={{meal}}
        data-test-id="meal-item"
        as |item|>
        <item.handle>
          <MealItem @meal={{meal}} {{on "click" this.openMealDetails}} />
        </item.handle>
      </group.item>
    {{/each}}
  </SortableGroup>
</div>
