{{#if this.fetchMeal.isRunning}}
  <LoadingIndicator />
{{/if}}

<button
  type="button"
  {{on "click" this.addMeal}}
  class="w-full bg-teal-500 hover:bg-teal-400 focus:bg-teal-400 text-white font-bold mt-4 py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 focus:border-teal-500 rounded"
  data-test-id="meal-add-button">
  Add Another Meal
</button>
