<div
  data-id={{this.uniqId}}
  {{on 'focus' this.handleFocus}}
  {{on 'blur' this.handleBlur}}
  {{key-up this.handleArrowUp key='ArrowUp'}}
  {{key-up this.handleArrowDown key='ArrowDown'}}
  {{key-down this.preventDefault key='ArrowUp'}}
  {{key-down this.preventDefault key='ArrowDown'}}
  ...attributes>
  {{yield
    this.groupHasFocus
    this.selectedIndex
    (hash
      orderItemDown=(action 'orderItemDown')
      orderItemUp=(action 'orderItemUp')
      handleFocus=(action 'handleFocus')
      handleBlur=(action 'handleBlur')
    )}}
</div>
