{{#if this.userHasMeals}}
  <h1 class="text-5xl -mt-4 text-teal-500 font-hairline">
    Great, you have meals!
  </h1>

  <p class="text-gray-700 text-base">
    You can see more details of any meal by clicking on them. You may also reorder meals via drag and drop (or your keyboard).
  </p>
{{else}}
  <h1 class="text-5xl -mt-4 text-teal-500 font-hairline">
    Welcome to Sortable Recipes!
  </h1>

  <p class="text-gray-700 text-base">
    Add some recipes to get started.
  </p>
{{/if}}
