<h1 class="text-5xl -mt-4 text-teal-500 font-hairline">
  {{@model.name}}
</h1>

<img src={{@model.thumbnailUrl}} alt="" role="presentation" class="float-right w-1/3 rounded-lg ml-8 mb-4 shadow-lg border-8 border-white">

<p class="text-gray-700 text-base whitespace-pre-line">
  {{@model.instructions}}
</p>

<div class="mt-4">
  <MealTag>{{@model.category}}</MealTag>
  <MealTag>{{@model.area}}</MealTag>
</div>
